@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@300&family=Roboto:wght@300&family=Russo+One&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Russo One', sans-serif;
font-family: 'PT Serif', serif;*/
}
header{
	background: #f5f6fc;
	padding-bottom: 10px;
}
.navbar-brand{
	font-size: 1.3rem !important;
	font-family: 'Russo One', sans-serif;
	padding: 10px;
	box-shadow: 0.1px 0.1px 1px #000 , -0.1px -0.1px 1px #000;
	position: absolute;
	transform: translateY(-50%);
	left: 40%;
	top: 35px;
}
.nav-item .nav-link{
	font-size: 1.1rem;
	font-weight: 700;
}
.social-icons li a i{
	font-size: 1.7rem;
	color: #000;
	text-decoration: none;
	margin-right: 20px;
}
.main-img{
	margin: 80px 115px;
	width: 70%;
}
.main-img img{ 
	width: 100%;
}
.main-display{
	position: relative;
}
.main-txt{
	position: absolute;
	left: 55%;
	top: 23%;
}
.main-txt h1{
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-weight: 100;
	line-height: 80px;
	padding: 0 20px;
	font-family: 'Russo One', sans-serif;
	font-size: 3rem;
}
/*fasion-trending*/
.fasion-trending .trend-title{
	margin: 5% 0;
}
.trend-title .trend-styling h1{
	padding: 25px;
	font-family: 'Russo One', sans-serif;
	font-size: 3rem;
	color: #000;
}
.trend-styling{
	margin: 5% 20%;
	height: 100px;
	width: 55%;
	position: relative;
	background: #fff;
	max-width: 700px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}
.trend-styling::after{
	content: "";
	top: -10px;
	left: -10px;
	height: 100px;
	width: 200px;
	background: #e6e340;
	z-index: -1;
	position: absolute;
}
.trend-styling::before{
	content: "";
	bottom: -10px;
	right: -10px;
	height: 100px;
	width: 200px;
	background: #e6e340;
	z-index: -1;
	position: absolute;
}
.trend-title p{
	font-size: 0.8rem;
	background: #eee;
	padding: 15px;
}
/*img-box*/
.img-box{
	position: relative;
}
.img-box img{
	margin-bottom: 20px;
}
.img-box .btn:hover{
	background: #fff;
	color: #000;
	box-shadow: 0 4px 5px rgba(0,0,0,0.8);
}
.img-box .btn{
	padding: 7px 20px;
	outline: none !important;
	border: none !important;
	left: 30%;
	background: #000;
	color: #fff;
	font-size: 1.2rem;
	transition: all 0.6s;
	opacity: 0;
	bottom: 0;
	z-index: 1;
	width: 150px;
	position: absolute;
	transform: translateY(-50% , 0);
	box-shadow: 0 4px 5px rgba(255,255,255,0.7);
}
.img-box:hover .btn{
	transform: translateY(-50% , 50%);
	bottom: 30%;
	opacity: 1;
}
.overlay{
	height: 0;
	width: 100%;
	position: absolute;
	opacity: 0;
	top: 0;
	transition: all 0.5s;
	background: #eee;
}
.img-box:hover .overlay{
	height: 100%;
	opacity: 0.6;
}
/*.about-bg*/
.about-bg{
	background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), 
	url(./Assets/about-img.jpg) center/cover no-repeat;
	height: 50vh;
}
.about-img{
	margin-top: 15vh;
}
.about-img img{
	height: 45vh;
	width: 40%;
}
.suscribe{
	background: #eee;
	padding: 30px;
	margin: 5%;
}
.suscribe h4{
	font-weight: 1000;
	font-size: 2rem;
	font-family: 'PT Serif', serif;
}
.suscribe p{
	color: #737373;
	font-size: 0.9rem;
}
.suscribe .subscribe-link{
	background: #000;
	color: #fff;
	padding: 7px 30px;
	font-size: 1.2rem;
	font-weight: 1000;
}
.suscribe .subscribe-link:hover{
	background: #fff;
	color: #000;
	text-decoration: none;	
	box-shadow: 4px 5px 10px rgba(0,0,0,0.8);
}
/*Blogs*/
.Blogs{
	margin-top: 10%;
}
.blog-box{
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.5),inset -1px -1px 3px rgba(0,0,0,0.5);
	padding: 15px 15px 15px 15px;
	color: orange;
}
.blog-box img{
	width: 100%;
	height: 40vh;
}
.rating{
	margin: 10px 0;
}
.blog-box h5{
	font-family: 'PT Serif', serif;
	font-size: 1.2rem;
	font-weight: 1000;
}

/*brand-img*/
.brand-img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin: 30px 30px;
	background: #fff;
	box-shadow: 0 2px 40px 0 rgba(110,130,208,0.18);
}
.brand-img img{
	width: 100px;
	margin: 50px;
}
/*.footer*/
footer{
	background: #f5f5f5;
	padding: 5% 0 2% 0;
}
.footer-title{
	position: relative;
}
.footer-title::before{
	position: absolute;
	content: "";
	width: 120px;
	height: 5px;
	top: 40px;
	background: #ffcb0f;
	text-align: center;
	align-items: center;
}
.footer-title h3{
	font-size: 1.7rem;
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
	margin-bottom: 50px;
}
.footer-imgs img{
	height: 27vh;
}

.app-imgs img{
	height: 10vh;
}
.copyright{
	background: #000;
	color: #fff;
	padding: 1px 0;
}
.copyright p{
	font-size: 1.2rem;
	margin: 12px 0;
	font-weight: 1000;
}






/*main-desktiop*/
@media screen and (min-width: 768px) and (max-width: 991px){
	.main-img{
		margin: 10px 20px;
		width: 75%;
	}
	.main-txt{
		left: 60%;
	}
	.main-txt h1{
		font-size: 2rem;
		line-height: 70px;
	}
	.navbar-brand{
		font-size: 1.3rem !important;
		left: 50%;
		top: 25px;
	}

	.trend-title .trend-styling h1{
		padding: 35px;
		font-size: 2rem;
	}
	.trend-styling{
		margin: 5% 20%;
		width: 65%;
	}
	.trend-styling::after{
		height: 80px;
		width: 180px;
	}
	.trend-styling::before{
		height: 80px;
		width: 180px;
	}
	.trend-title p{
		font-size: 0.7rem;
		padding: 15px;
	}
	.img-box .btn{
		left: 15%;
	}
	.about-bg{
		height: 50vh;
	}
	.about-img{
		margin-top: 10vh;
	}
	.about-img img{
		height: 45vh;
		width: 55%;
	}
	.suscribe{
		padding: 10px 20px;
		margin: 5%;
	}
	.suscribe h4{
		font-size: 1.4rem;
	}
	.suscribe p{
		color: #737373;
		font-size: 0.8rem;
	}
	.suscribe .subscribe-link{
		padding: 7px 30px;
		font-size: 0.8rem;
	}	
	.blog-box{
		margin-bottom: 10%;
	}
	.blog-box img{
		height: 55vh;
	}
	.footer-title h3{
		font-size: 1.3rem;
	}
	.footer-imgs{
		margin: 30px 0;
	}
	.app-imgs img{
		height: 10vh;
	}

}
/*small devices*/
@media screen and (min-width: 501px) and (max-width: 767px){
	.main-img{
		margin: 10px 20px;
		width: 75%;
	}
	.main-txt{
		left: 60%;
	}
	.main-txt h1{
		font-size: 1.2rem;
		line-height: 50px;
	}
	.navbar-brand{
		font-size: 1.3rem !important;
		left: 50%;
		top: 25px;
	}
	.trend-title .trend-styling h1{
		padding: 20px 0;
		font-size: 2rem;
	}
	.trend-styling{
		margin: 5% 10%;
		width: 75%;
		height: 80px;
	}
	.trend-styling::after{
		height: 70px;
		width: 170px;
	}
	.trend-styling::before{
		height: 70px;
		width: 170px;
	}
	.trend-title p{
		font-size: 0.6rem;
		padding: 12px;
	}
	.img-box .btn{
		left: 15%;
	}
		.about-bg{
		height: 40vh;
	}
	.about-img{
		margin-top: 7vh;
	}
	.about-img img{
		height: 50vh;
		width: 70%;
	}
	.suscribe{
		padding: 10px 20px;
		margin: 5%;
	}
	.suscribe h4{
		font-size: 1rem;
	}
	.suscribe p{
		color: #737373;
		font-size: 0.6rem;
	}
	.suscribe .subscribe-link{
		padding: 7px 20px;
		font-size: 0.8rem;
	}
	.Blogs{
		margin-top: 20%;
	}
	.Blogs p{
		margin: 15% 0 0 0;
	}
	.blog-box h5{
		font-size: 1rem; 
	}
	.blog-box{
		margin: 0 0 30px 0;
	}
	.blog-box img{
		height: 45vh;
	}

	/*brand-img*/
	.brand-img{
		width: 150px;
		height: 150px;
		border-radius: 100%;
		margin: 20px 10px;
	}
	.brand-img img{
		width: 75px;
		margin: 30px;
	}
	.footer-title h3{
		font-size: 1.3rem;
	}
	.footer-imgs{
		margin: 30px 0;
	}
	.footer-imgs img{
		height: 50vh;
	}
	.app-imgs img{
		height: 10vh;
	}
	.copyright{
		padding: 0.8px 0;
	}
	.copyright p{
		font-size: 0.7rem;
		margin: 12px 0;
	}
}
@media screen and (min-width: 501px) and (max-width: 575px){
	.Blogs{
		margin-top: 60%;
	}
}
/*iphone like diveces*/
@media screen and (max-width: 500px){
	.main-img{
		margin: 10px 20px;
		width: 80%;
	}
	.main-txt{
		left: 52%;
	}
	.main-txt h1{
		font-size: 1.2rem;
		line-height: 40px;
	}
	.navbar-brand{
		font-size: 1.2rem !important;
		left: 50%;
		top: 25px;
	}
		.trend-title .trend-styling h1{
		padding: 20px 0;
		font-size: 1.7rem;
	}
	.trend-styling{
		margin: 5% 10%;
		width: 75%;
		height: 70px;
	}
	.trend-styling::after{
		height: 70px;
		width: 170px;
	}
	.trend-styling::before{
		height: 70px;
		width: 170px;
	}
	.trend-title p{
		font-size: 0.6rem;
		padding: 12px;
	}
	.img-box .btn{
		left: 35%;
	}
	.about-bg{
		height: 40vh;
	}
	.about-img{
		margin-top: 7vh;
		text-align: center;
	}
	.about-img img{
		height: 50vh;
		width: 70%;
	}
	.suscribe{
		padding: 10px 20px;
		margin: 5%;
	}
	.suscribe h4{
		font-size: 1.8rem;
	}
	.suscribe p{
		color: #737373;
		font-size: 0.8rem;
	}
	.suscribe .subscribe-link{
		padding: 7px 20px;
		font-size: 0.8rem;
	}
	.Blogs{
		margin-top: 75%;
	}
	.Blogs p{
		margin: 15% 0 0 0;
	}
	.blog-box h5{
		font-size: 1rem; 
	}
	.blog-box{
		margin: 0 0 30px 0;
	}
	.blog-box img{
		height: 35vh;
	}
	/*brand-img*/
	.brand-img{
		width: 150px;
		height: 150px;
		border-radius: 100%;
		margin: 20px 10px;
	}
	.brand-img img{
		width: 75px;
		margin: 30px;
	}

	.footer-title h3{
		font-size: 1.3rem;
	}
	.footer-imgs{
		margin: 30px 0;
	}
	.footer-imgs img{
		height: 40vh;
	}
	.app-imgs img{
		height: 10vh;
	}
	.copyright{
		padding: 0.8px 0;
	}
	.copyright p{
		font-size: 0.7rem;
		margin: 12px 0;
	}
}
@media screen and (max-width: 425px){
	.main-img{
		margin: 10px 20px;
		width: 70%;
	}
	.main-txt{
		left: 50%;
	}
	.main-txt h1{
		font-size: 1rem;
		line-height: 40px;
		padding: 0 10px;
	}
	.navbar-brand{
		font-size: 1rem !important;
		left: 50%;
		top: 25px;
	}
	.trend-title .trend-styling h1{
		padding: 20px 0;
		font-size: 1rem;
	}
	.trend-styling{
		margin: 5% 10%;
		width: 80%;
		height: 55px;
	}
	.trend-styling::after{
		height: 50px;
		width: 150px;
	}
	.trend-styling::before{
		height: 50px;
		width: 150px;
	}
	.trend-title p{
		font-size: 0.5rem;
		padding: 10px;
	}
	.img-box .btn{
		left: 28%;
	}
		.about-bg{
		height: 40vh;
	}
	.about-img{
		margin-top: 7vh;
		align-items: center;
		text-align: center;
	}
	.about-img img{
		height: 40vh;
		width: 60%;
	}
	.suscribe{
		padding: 10px 20px;
		margin: 5%;
	}
	.suscribe h4{
		font-size: 1.1rem;
	}
	.suscribe p{
		color: #737373;
		font-size: 0.5rem;
	}
	.suscribe .subscribe-link{
		padding: 7px 20px;
		font-size: 0.6rem;
	}
	.Blogs{
		margin-top: 75%;
	}
	.Blogs p{
		margin: 15% 0 0 0;
	}
	.blog-box h5{
		font-size: 0.55rem; 
	}
	.blog-box{
		margin: 0 0 20px 0;
		padding: 10px 10px 10px 10px;
	}
	.blog-box img{
		height: 20vh;
	}

	/*brand-img*/
	.brand-img{
		width: 110px;
		height: 110px;
		border-radius: 100%;
		margin: 20px 10px;
	}
	.brand-img img{
		width: 50px;
		margin: 30px;
	}
	.footer-title h3{
		font-size: 1.3rem;
	}
	.footer-imgs{
		margin: 30px 0;
	}
	.footer-imgs img{
		height: 35vh;
	}
	.app-imgs img{
		height: 10vh;
	}
	.copyright{
		padding: 0.8px 0;
	}
	.copyright p{
		font-size: 0.7rem;
		margin: 12px 0;
	}

}













/*certifite date = roll number
declare = 04/09/2019*/